# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Secrets
.env

# Downloaded geospatial data
data/downloads/
*.tif
*.tiff
*.zip

# OS files
.DS_Store
.Rhistory
